@font-face{
	font-family: Roboto;
	src: url(/fonts/Roboto-Regular.ttf) format('truetype');
}

*{
  font-style: 'Roboto';
}

#container{
  width: 1000px;
  height: 550px;
  margin: 20px auto;
  display: flex;
}

.support{
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-content: center;
  justify-content: center;
  display: none;
}

#calculator{
  width: 320px;
  height: 530px;
  background-color: #eaedef ;
  margin: 0 auto;
  top: 20px;
  position: relative;
  border-radius: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);
}

#results{
  height: 220px;
  padding: 10px;
  background-color: aqua;
  border-radius: 25px;
  color: white;
  font-weight: bolder;
}

#history{
  text-align: right;
  height: 20px;
  padding: 5px;
  font-size: 15px;
  font-weight: bolder;
  color: #919191;
}

#output{
  font-size: 30px;
  text-align: right;
}

#keyboards{
  height: 300px;
}

.operator, .number, .empty, .displayHistory, .addition, 
.subtraction, .division, .multiplication{
  width: 35px;
  height: 35px;
  margin: 5px 20px;
  float: left;
  border-radius: 50%;
  background-color: #eaedef ;
  text-align: center;
  font-weight: bold;
  font-size: 15px;
  border-width: 0;
}

.number:active, .operator:active{
  font-size: 19px;
}

button:nth-child(4){
  font-size: 20px;
  background-color: aqua;
  display: block;
  height: 40px;
  border-radius: 5px;
}

button:nth-child(8){
  font-size: 20px;
  background-color: #919191;
}

button:nth-child(12){
  font-size: 20px;
  background-color: #eaedef ;
  border-radius: 5px;
  border: 2px solid black;
  overflow: hidden;
}

button:nth-child(19){
  font-size: 20px;
  background-color: aqua;
  width: 120px;
  border-radius: 5px;
}